body {
    background-color:#000000;
}

#container {
    width:100%;
    border:0;
    overflow:auto;
    position:relative;
    margin:0 auto;
    padding:0;
    text-align:center;
    }


img {
    border:0px solid #000000;
    margin:0;
    padding:0;
    max-width: 500px;
}


h1 {
    font-size:3em;
    color:#f2f2f2;
    font-family:'PT Sans Narrow', sans-serif;
    font-weight:bold;
    margin:0;
    padding:0;
}

p {
    text-align: center;
    color:#f3f3f3;
    font-family:'lucida sans unicode', 'lucida grande', sans-serif;
}

.gallery {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.gallery > div {
    position: relative;
    display: inline-block;
    padding: 0;
}

.gallery > div > img {
    display: block;

    transition: .1s transform;
    transform: translateZ(0); /* hack */
}

.gallery > div:hover {
    z-index: 1;
}

.gallery > div:hover > img {
    transform: scale(1.3,1.3);
    transition: .3s transform;
    border:8px solid #000000;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

